body {
    background: url('/img/mandalorian-bg.jpg') no-repeat center center fixed !important;
}

.content-text {
    background-color: rgba(233, 245, 255, 0.8);
    padding: 10px;
    margin-top: 20px;
}

.hero {
   background-color: rgba(233, 245, 255, 0.6);
}

.lead {
    font-weight: 500;
}

.yoda {
    background-image: url('/img/yoda2.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background-size: 300px;
    position: absolute;
    right: 60px;
    top: 20px;
}

.btn-primary {
    background-color: #6a8b6e;
    border: 1px solid #006400;
}

.btn-primary:hover {
    background-color: #6a8b6e;
    border: 1px solid #006400;
}

.btn-secondary {
    background-color: #20242a;
}

.man-icon {
    top: -2px;
    position: relative;
}

div.card-text {
    margin-bottom: .75rem;
}