@model CardModel
<div class="card mb-3">
    <div class="card-body">
        <sc-img class="card-img-top" asp-for="@Model.Image" editable="true"/>
        <h2 class="card-title" asp-for="Title"></h2>
        <div class="card-text" asp-for="Text"></div>
        <sc-link href="#" class="btn btn-primary" asp-for="Link" editable="true"></sc-link>
    </div>
</div>