@model MyProject.Models.ContentTextModel
<div class="content-text">
    <h4 asp-for="Title"></h4>
    <sc-text asp-for="Text"></sc-text>
    <br /><br />
    <p>
        <sc-link class="btn btn-secondary" asp-for="Link" role="button"></sc-link>
    </p>
</div>