@model MyProject.Models.HeroModel
<div class="jumbotron hero">
    <h1 class="display-4" asp-for="Title"></h1>
    <p class="lead"><sc-text asp-for="Intro"></sc-text></p>
    <hr class="my-4">
    <p><sc-text asp-for="Text"></sc-text></p>
    <sc-link class="btn btn-primary btn-lg" asp-for="Link" role="button"></sc-link>
    <div class="yoda"></div>
</div>